.estilos{
    width: 160px;
    height: 100px;

}
.center{
    background-color:transparent;
    
}
.fondo{
    //background-image: url(../../../assets/galeria/fondo.jpg);
    text-align: center;
    
}